<%- include('header'); -%>
<div class="container">
    <div class="row" style="direction: rtl;text-align: right;">
        <div class="col-md-12">
            <div class="form-group">
                <label for="title">نام کتاب</label>
                <input type="text" class="form-control" id="title" placeholder="نام کتاب را وارد کنید">
            </div>
            <div class="form-group">
                <label for="author">نام نویسنده</label>
                <input type="text" class="form-control" id="author" placeholder="نام نویسنده را وارد کنید">
            </div>
            <div class="form-group">
                <label for="pages">تعداد صفحات</label>
                <input type="text" class="form-control" id="pages" placeholder="تعداد صفحات را وارد کنید">
            </div>
            <div class="form-group">
                <label for="categories">دسته بندی</label>
                <select multiple class="form-control" id="categories">
                    <option value="computer">computer</option>
                    <option value="general">general</option>
                    <option value="novel">novel</option>
                </select>
            </div>
            <div class="form-group">
                <label for="summary">توضیحات</label>
                <textarea class="form-control" id="summary"></textarea>
            </div>
            <button class="btn btn-primary" id="submit">افزودن</button>
        </div>
    </div>
</div>
<%- include('footer'); -%>
<script>
    $("#submit").click(()=>{
        let obj={};
        obj.title=$("#title").val();
        if(!obj.title){
            warn.iconClass = "toast-warning";
            toastr.error('نام کتاب را وارد کنید', 'خطا', warn)
        }
        obj.author=$("#author").val();
        if(!obj.author){
            warn.iconClass = "toast-warning";
            toastr.error('نام نویسنده را وارد کنید', 'خطا', warn)
        }
        obj.pages=$("#pages").val();
        if(!obj.pages){
            warn.iconClass = "toast-warning";
            toastr.error('تعداد صفحات را وارد کنید', 'خطا', warn)
        }
        obj.categories=$("#categories").val();
        if(!obj.categories.length){
            warn.iconClass = "toast-warning";
            toastr.error('دسته بندی را وارد کنید', 'خطا', warn)
        }
        obj.summary=$("#summary").val();
        if(!obj.summary.length){
            warn.iconClass = "toast-warning";
            toastr.error('توضیحات را وارد کنید', 'خطا', warn)
        }
        axios.post('/add',obj)
            .then(r=>{
                if (r.data.status == 200) {
                    warn.iconClass = "toast-success";
                    toastr.error('با موفقیت افزوده شد', '', warn)
                    setTimeout(()=>{
                        window.location.href='/'
                    },2000)
                }else{
                    warn.iconClass = "toast-warning";
                    return toastr.error(r.data.description, 'خطا', warn)
                }
            })
            .catch(()=>{
                warn.iconClass = "toast-warning";
                return toastr.error('خطا در برقراری ارتباط با سرور', 'خطا', warn)
            })
    });
</script>
